
    {{#if @site.secondary_navigation}}
        {{navigation type="secondary"}}
    {{else}}
        <div class="social-links">
            {{#if @site.linkedin}}
                <a class="social-link social-link-lk" href="https://www.linkedin.com/in/matthewselkirkkey/" target="_blank" rel="noopener">{{> "icons/linkedin"}}</a>
            {{/if}}
            {{#if @site.github}}
                <a class="social-link social-link-gh" href="https://github.com/mattselkey" target="_blank" rel="noopener">{{> "icons/github"}}</a>
            {{/if}}
        </div>
        {{#unless @labs.members}}
            <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank rel="noopener noreferrer">{{> "icons/rss"}}</a>
        {{/unless}}
    {{/if}}
